/************** FONTS *******************
*****************************************/

@font-face {
  font-family: "Square Dance";
  src: url("./fonts/squaredance00.ttf") format("truetype");
}

@font-face {
  font-family: "Assassins";
  src: url(./fonts/Assassin-2PGw.ttf) format("truetype");
}

/************** STYLING *******************
*****************************************/

.font--pixel {
  font-family: "Square Dance", sans-serif;
}

.font--light {
  color: white;
}

.font--dark {
  color: black;
}

.bg--blue {
  background-color: #3d2ed1;
}

.bg--light {
  background-color: white;
}

/************** GENERAL *******************
*****************************************/

body {
  font-family: "DM Sans", sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.skills--icons .fa-brands {
  width: auto;
  color: #3d2ed1;
  text-shadow: 0 0 5px #a39af4;
  font-size: 1.4rem;
}

/************** LOADER SCREEN ****************
***********************************************/

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  z-index: 99;
  background-color: aliceblue;
}

#loading::before {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "Loading";
  animation: emojiLoader 1.2s steps(7) infinite forwards 0.2s;
}

@keyframes emojiLoader {
  0% {
    content: "⌛";
  }
  12.5% {
    content: "🐲";
  }
  25% {
    content: "👩🏻‍🎤";
  }
  37.5% {
    content: "👩🏻‍💻";
  }
  50% {
    content: "🧞‍♀️";
  }
  62.5% {
    content: "🤖";
  }
  75% {
    content: "👽";
  }
  87.5% {
    content: "🧙🏻‍♀️";
  }
}

/************** TABLE *******************
*****************************************/

table {
  font-size: 0.8rem;
}

table a,
thead {
  color: #3d2ed1;
}

th,
tr,
td {
  border-radius: 20px;
}

/************** TITLES ****************
*****************************************/

.typing-effect {
  font-size: 2.6em;
  margin-top: 20px;
}

h2.block--title {
  margin-top: 40px;
}

.block--projects .block--title {
  margin-bottom: 40px;
}

/************** BUTTONS ****************
*****************************************/

.btn--banner {
  display: none;
}

.btn--projects {
  margin-top: 40px;
}

.btn-outline-primary {
  border-color: #3d2ed1;
  color: #3d2ed1;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #d2e247;
  border-color: #d2e247;
  color: black;
}

/************** HR STYLING ****************
*****************************************/

.hr--gaming,
.hr--gaming:after {
  color: #3d2ed1;
}

.hr--gaming {
  overflow: visible; /* For IE */
  border: none;
  border-top: normal double #3d2ed1;
  width: 20%;
  margin: 20px auto;
}

/************** NAVBAR ****************
*****************************************/

nav {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.978);
}
.nav-link {
  color: black !important;
}

.nav-link:hover {
  transition: all 1s ease-out !important;
  color: #3d2ed1 !important;
}

#navbar-logo {
  width: 50px;
  height: auto;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/******************* BANNER  ********************
**************************************************/

.banner {
  margin-top: 100px;
}

.presentation--left,
.presentation--right {
  margin-top: 20px;
}

.presentation--right {
  gap: 40px;
}

/************** BANNER LEFT - SIDE ****************
**************************************************/

.skills--icons {
  margin: 10px auto;
}

#adobe-cc-icon {
  height: 26px;
  width: auto;
}

.description {
  margin-top: 10px;
  text-align: justify;
}

/************** BANNER VIDEO - CENTER ****************
**************************************************/

video {
  clip-path: inset(5px 5px);
}

/************** BANNER RIGHT - SIDE ****************
**************************************************/

.presentation--right-content {
  flex: 1;
  margin-bottom: 20px;
}

.presentation--right-content img {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}

.list-skills li {
  font-size: 0.8rem;
}

/************** PERCENTAGE BARS ****************
*************************************************/

.bar--outer {
  margin: 10px auto 20px;
  height: 0.75rem;
  background-color: rgb(227, 227, 243);
  border-radius: 1rem;
  padding: 0 0.25rem;
  display: grid;
  box-sizing: border-box;
}

.bar--inner {
  height: 50%;
  margin: auto 0;
  border-radius: 1rem;
}

/************** PROJECTS BLOCK ****************
**************************************************/

.block--projects {
  margin-bottom: 50px;
}
.projects--thumbnails {
  width: 100%;
}

.designer--projects img {
  margin-bottom: 40px;
}

/************** FOOTER BLOCK ****************
**************************************************/

footer .row:nth-child(1) {
  padding: 0px 0px 20px 0px;
}

.socials--icons-list li {
  display: inline;
}

.socials--icons-list i {
  color: white !important;
  font-size: 1.6rem;
  text-shadow: 0 0 5px #867ce1;
  padding: 10px;
}

.socials--icons-list i:hover {
  text-shadow: 0 0 8px #b7b2e8;
}

/************** RESPONSIVE QUERIES ****************
**************************************************/

@media (min-width: 768px) {
  nav {
    position: static !important;
    background-color: unset;
  }

  .nav-item:hover {
    background-color: none;
    color: #3d2ed1;
  }

  .banner {
    margin-top: unset;
  }

  .typing-effect {
    font-size: 3.2em;
    margin-top: 0;
  }

  h1 {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .buttons--box a {
    display: inline-block;
    flex: 1;
  }

  .btn--banner {
    display: unset;
    margin-top: 20px;
  }

  .skills--icons img {
    height: 18px;
  }

  .fa-brands {
    font-size: 1.6rem;
  }

  .presentation--right-content {
    gap: 20px;
  }

  .skills--icons {
    gap: 10px;
  }

  h2.block--title {
    font-size: 3rem;
  }

  h3.block--title {
    font-size: 1.6rem;
  }
}
