* {
  box-sizing: border-box;
}

/************** FONTS *******************
*****************************************/

@font-face {
  font-family: "Square Dance";
  src: url("./fonts/squaredance00.ttf") format("truetype");
}

/************** GENERAL *******************
*****************************************/

body {
  color: rgb(30, 30, 30);
  font-family: "DM Sans", sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 4em;
}

/************** HR STYLING ****************
*****************************************/

hr.style {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: normal double darkred;
  color: darkred;
  text-align: center;
  margin-bottom: 20px;
}

hr.style:after {
  content: "⯁";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  padding: 0 0.3em;
  background: white;
  color: darkred;
}

/************** NAVBAR ****************
*****************************************/

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.3rem;
}

nav {
  padding: 10px;
}

#navbar-logo {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/************** BANNER LEFT - SIDE ****************
**************************************************/

.banner-content {
  display: flex;
  justify-content: space-around;
}

.presentation-left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#magic-fire {
  position: relative;
  top: 0px;
  z-index: -5;
  width: 60%;
  margin: 0 auto;
}

#typing-demo {
  font-family: "Square Dance", sans-serif !important;
  font-weight: bolder;
  font-size: 1.2em;
  text-shadow: 0 0 10px rgba(220, 220, 220, 0.292);
}

.full-stats h1 {
  font-family: "Square Dance", sans-serif;
  color: darkred;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 500;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fa-brands {
  display: inline-block;
  padding: 5px;
  font-size: 1.4rem;
}
.attributes img {
  height: 30px;
  width: auto;
}

.skills-title {
  font-family: "Square Dance", sans-serif;
  font-weight: bolder;
  font-size: 0.8rem;
  color: darkred;
}

.description {
  margin-top: 30px;
  text-align: justify;
}

.description p {
  font-size: 1rem;
}

/************** BANNER VIDEO - CENTER ****************
**************************************************/

.video {
  display: flex;
  justify-content: start;
}

video {
  clip-path: inset(1px 1px);
}

/************** BANNER RIGHT - SIDE ****************
**************************************************/

.full-stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.full-stats-content {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.full-stats-content img {
  height: 60px;
  width: auto;
  margin: auto;
}

.list-skills {
  font-size: 0.8rem;
  font-family: "DM Sans", sans-serif !important;
}

/************** CAMEMBERT ****************
**************************************************/

.container .box {
  width: 50px;
  margin: 0 auto 20px;
}
.container .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 50px;
  height: 50px;
}

.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}

/************** RESPONSIVE QUERIES ****************
**************************************************/

@media (min-width: 768px) {
  #navbar-logo {
    display: unset;
    width: 50px;
    height: auto;
    margin-right: 10px;
    animation: rotation 4s infinite linear;
  }

  #typing-demo {
    font-size: 2.4em;
  }

  .attributes img {
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
  }

  .attributes img:hover {
    filter: none;
  }
}

/************** LED BOX BLINKING ****************
**************************************************/

.led-box {
  height: 30px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

.led-box h4 {
  font-family: "Square Dance", sans-serif !important;
  font-size: 1rem;
  margin: auto;
}

.led-green {
  width: 24px;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #5d8b00 0 -1px 9px,
    #b5de86 0 2px 12px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: #b5de86;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #1f8002 0 -1px 9px,
      #b5de86 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
@-moz-keyframes blink {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: #b5de86;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #1f8002 0 -1px 9px,
      #b5de86 0 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
@-ms-keyframes blink {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: #b5de86;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #1f8002 0 -1px 9px,
      #b5de86 0 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
@-o-keyframes blink {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: #b5de86;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #1f8002 0 -1px 9px,
      #b5de86 0 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
@keyframes blink {
  from {
    background-color: #abff00;
  }
  50% {
    background-color: #b5de86;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #1f8002 0 -1px 9px,
      #b5de86 0 2px 0;
  }
  to {
    background-color: #abff00;
  }
}
