@import "colors.scss";

* {
  box-sizing: border-box;
}

/************** FONTS *******************
*****************************************/

@font-face {
  font-family: "Square Dance";
  src: url("./fonts/squaredance00.ttf") format("truetype");
}

@font-face {
  font-family: "Assassins";
  src: url(./fonts/Assassin-2PGw.ttf) format("truetype");
}

/************** GENERAL *******************
*****************************************/

body {
  color: rgb(32, 32, 32);
  font-family: "DM Sans", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/************** TITLES ****************
*****************************************/

.typing-effect {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bolder;
}

h1 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
}

.skills-title {
  font-family: "Square Dance", sans-serif;
  font-weight: bolder;
}

/************** HR STYLING ****************
*****************************************/

.hr--gaming,
.hr--gaming:after {
  color: crimson;
}

.hr--gaming {
  overflow: visible; /* For IE */
  border: none;
  border-top: normal double crimson;
  width: 50%;
}

/************** NAVBAR ****************
*****************************************/

.navbar-brand {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px;
}

#navbar-logo {
  width: 50px;
  height: auto;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/******************* BANNER  ********************
**************************************************/

.presentation--left,
.presentation--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/************** BANNER LEFT - SIDE ****************
**************************************************/

.presentation--left--titles {
  margin-bottom: 10px;
}

.skills--icons {
  display: flex;
  align-items: center;
  margin: 10px auto;
  gap: 10px;
}

.skills--icons img {
  height: 18px;
  width: auto;
}

.fa-brands {
  display: flex;
  align-items: center;
  width: auto;
  color: crimson;
  text-shadow: 0 0 5px rgb(250, 182, 182);
  font-size: 1.6rem;
}

.description {
  margin-top: 30px;
  text-align: justify;
}

.description p {
  font-size: 1rem;
}

.btn--banner {
  margin-top: 20px;
}

/************** BANNER VIDEO - CENTER ****************
**************************************************/

video {
  clip-path: inset(1px 1px);
}

/************** BANNER RIGHT - SIDE ****************
**************************************************/

.presentation--right-content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.presentation--right-content img {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}

.list-skills {
  list-style-type: none;
  padding-inline-start: 0px;
}

.skills-title,
.list-skills {
  font-size: 0.8rem;
}

.skills-title {
  font-family: "Square Dance", sans-serif;
  font-weight: bolder;
}

/************** PERCENTAGE BARS ****************
*************************************************/

.bar--outer {
  margin: 10px auto 20px;
  height: 0.75rem;
  background-color: rgb(241, 231, 231);
  border-radius: 1rem;
  padding: 0 0.25rem;
  display: grid;
  box-sizing: border-box;
}

.bar--inner {
  height: 50%;
  background-color: crimson;
  margin: auto 0;
  border-radius: 1rem;
}

.percent {
  background-color: transparent;
  font-size: 0.8rem;
}
/************** RESPONSIVE QUERIES ****************
**************************************************/

@media (min-width: 768px) {
  .typing-effect {
    font-size: 3.2em;
  }
}
